@media only screen and (min-width: 600px) and (max-width:900px){
    h2{
        margin: 0;
        margin-bottom: 5px;
        font-size: 18px;
    }
    h4{
        font-size: 15px;
    }
    p{
        font-size: 12px;
    }
    .s_estilosModerno .b_texto{
        padding: 0 24px;
    }
    .s_estilosModerno p{
        margin: 0;
        font-size: 12px;
    }
    .experiencia, .depoimentos{
        min-height: 300px;
    }
    .melhores-exp{
        padding: 0 10px;
    }
    .melhores-exp__info{
        padding: 0 24px;
    }
    .depoimentos{
        margin-bottom: 60px;
    }
    .galeria__card{
        max-width: 196px;
        width: 100%;
        overflow: hidden;
        margin: 10px;    
        transition: all .5s linear;
    }
}
@media only screen and (min-width: 360px) and (max-width:600px){
    h2{
        margin: 0;
        margin-bottom: 5px;
        font-size: 18px;
    }
    h4{
        font-size: 15px;
    }
    p{
        font-size: 13px;
    }
    .nav-wrapper{
        display: flex;
        justify-content: right;
        padding: 0 15px;
    }
    .toggle{    
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        cursor: pointer;       
    }
    .toggle .line{
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 3px;
        background: #E75A7A;
        margin: 3px 0;
    }
    .nav-wrapper .menu{
        flex-direction: column;
        justify-content: center;        
        background: #37193B;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: none;
        
    }
    .nav-wrapper .menu_link{
        margin: 10px 0;
        padding: 5px 0;             
    }    
    .s_estilosModerno{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .s_estilosModerno p{
        margin: 10px 0;
    }
    .experiencia{
        margin: 0;
    }
    .melhores-exp{
        flex-direction: column-reverse;
        margin: 35px 0;
    }
    .melhores-exp__info{
        text-align: center;
        padding-top: 30px;
    }
    .depoimentos{
        margin: 0;
    }
    .galeria__cards{
        padding: 0 0 80px;
    }
    .galeria__card{
        max-width: 90%;
    }
    .footer-center{
        flex-direction: column;
        text-align: center;        
    }
    
    .footer-contato{
        margin:  40px 0;
    }
} 