@media only screen and (min-width: 600px) and (max-width:980px){
    h2{
        margin: 0;
        margin-bottom: 5px;
        font-size: 18px;
    }
    h4{
        font-size: 15px;
    }
    p{
        font-size: 12px;
    }
    .s_estilosModerno .b_texto{
        padding: 0 24px;
    }
    .s_estilosModerno p{
        margin: 0;
        font-size: 12px;
    }
    .experiencia, .depoimentos{
        min-height: 300px;
    }
    .melhores-exp{
        padding: 0 10px;
    }
    .melhores-exp__info{
        padding: 0 24px;
    }
    .depoimentos{
        margin-bottom: 60px;
    }
    .galeria__card{
        max-width: 196px;
        width: 100%;
        overflow: hidden;
        margin: 10px;    
        transition: all .5s linear;
    }
}
@media only screen and (min-width: 360px) and (max-width:600px){
    h2{
        margin: 0;
        margin-bottom: 5px;
        font-size: 18px;
    }
    h4{
        font-size: 15px;
    }
    p{
        font-size: 13px;
    }
    .dock-bar{
        display: none;
    }
    .nav-wrapper{
        display: flex;
        justify-content: right;
        padding: 0 20px;
        height: 70px; 
    }
    .toggle{    
        height: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        cursor: pointer;       
    }
    .toggle .line{
        display: block;
        width: 35px;
        height: 4px;
        border-radius: 3px;
        background: #E75A7A;
        margin: 4px 0;
    }
    .close-toggle{
        position: absolute;
        display: block;
        color: #fff;
        top: 20px;
        right: 30px;
        font-size: 25px;
    }
    .nav-wrapper .menu{
        flex-direction: column;
        justify-content: center;  
        align-items: center;      
        background: #37193B;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: none;           
    }
    /* Sub-menu******************************8*/
    .sub-menu{      
        background: var(--primary-color);
        position: static;
        left: -2px;
        display: none;         
        text-align: left;
        width: 158px;
    }
    .sub-menu-M{
        width: auto;
    }
    .nav-wrapper .menu a{
        margin: 8px 0;
        padding: 9px 0;             
        font-size: 20px;
    }   
    .hero .slider{       
        background-position: 70% 60%;        
    } 
    .s_estilosModerno{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .s_estilosModerno p{
        margin: 10px 0;
    }
    .experiencia{
        margin: 0;
    }
    .melhores-exp{
        flex-direction: column-reverse;
        margin: 35px 0;
    }
    .melhores-exp__info{
        text-align: center;
        padding-top: 30px;
    }
    .depoimentos{
        margin: 0;
    }
    .galeria__cards{
        padding: 0 0 80px;
    }
    .galeria__card{
        max-width: 90%;
    }
    .footer-center{
        flex-direction: column;
        text-align: center;        
    }    
    .footer-contato{
        margin:  40px 0;
    }
} 
/*Pg cabelo*/
@media only screen and (min-width: 600px) and (max-width:980px){
    main{
        padding: 0 10px;
    }
    .cabelo-servico{
        padding: 0 20px;
    }
    .servico__lista{
        justify-content: space-around;
        margin:20px 0;
        font-size: 11px;
    }
    .servico__btn{
        padding: 4px 11px;
        margin-left: 13px;
    }
    .servico__imgSecador{
        width: 31%;
    }
    .servico__imgSecador{
        display:none;
    }    
}
@media only screen and (max-width:600px){
    .banner-cabelo{
        background-position: center center;
    }
    .introducao .introducao__texto{
        padding: 0 10px;
    }
    .prevImgCabelo{
        flex-direction: column; 
        padding: 0 5px;       
    }
    .prevImgCabelo__img{
        margin: 10px;
    }
    .servico__titulo{
        text-align: center;
        font-size: 18px;
    }
    .servico__lista{
        flex-wrap: wrap;
        font-size: 14px;
        justify-content: start;
        align-content: center;        
    } 
    .servico__imgSecador{
        display:none;
    } 
    .center{
        align-items: center;
    }
    .servico__lista-coluna{
        padding: 20px 0;
        min-width: 40%;
        
    }
    .servico__lista-coluna + .servico__lista-coluna{
        margin: 0;
    }
    .btn{
        text-align: center;
        width: 126px;
        display: block;        
        margin: 10px auto;
    }
}
/*Pg depilação*/
@media only screen and (min-width:600px) and (max-width:980px){
    .depilacao__img img{
        min-width: 287px;
        max-height: 390px;
    }
    .depilacao{
        border-radius: 0;   
        column-gap: 20px;   
        padding: 50px 10px;  
    }
    
}
@media only screen and (max-width: 600px){
    .hero__depilacao{
        background-position: center center;
    }
    .depilacao--Cera{
        flex-direction: column-reverse;
    }
    .depilacao{
        flex-direction: column;
        border-radius: 0;   
        column-gap: 20px;   
        padding: 50px 10px; 
    }
    .depilacao__img img{
        min-width: auto;
        max-height: 390px;
    }    
    .depilacao__texto{
        text-align: center;        
    }
    .depilacao__titulo{
        margin: 15px 0;
    }
    .depilacao__titulo::after{
        margin: 5px auto;
    }
    .depilacao-list{
        justify-content: center;
        text-align: left;
        column-gap: 47px;
    }
    .depilacao-list ul + ul{
        margin: 0;        
    }
    .depilacao__btn{
        margin-top: 38px;
    }     
}