@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
:root{
    --primary-color:#37193B;
    --second-color:#fff;
    --third-color:#E75A7A;
    --s-center:1200px;
    --c-center:610px;
}


.dock-bar{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 0 55px;
    background-color: var(--second-color);
}
.midias-socias{
    font-size: 23px;
    position: relative;
    top: 5px;    
}
.midias-socias i{
    font-size: 23px;
    margin: 0 5px;    
}
.nav-wrapper{
    background: var(--primary-color);
    padding: 0 50px;
    height: 50px;        
}
/*Menu*/
.nav-wrapper .menu{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;    
}
.nav-wrapper .menu li{
    margin: 0 5px; 
    position: relative;
}
.nav-wrapper .menu a{
    display: block;
    margin: 5px 5px;
    padding: 6px 0;
    text-transform: uppercase;   
    font-size: 12px;
    font-weight: 500; 
    border: 2px solid transparent; 
}
.nav-wrapper .menu a:hover{
    border-bottom: 2px dotted var(--third-color);
}
.toggle{
    display: none;
}
/*botao fexa menu mobile*/
.close-toggle{
    display: none;
}
/*submenu*/
.sub-menu{      
    background: var(--primary-color);
    position: absolute;
    left: -2px;
    display: none;       
    width: 131px;
}
.menu li:hover > ul{
    display: block;
}
.menu .sub-menu li{
    margin: 5px 0!important;      
    padding: 0 10px;     
    width: 100%;    
}
.menu .sub-menu li a{
    padding: 5px 0;   
    margin: 0;
    display: inline-block;    
}
/*icone arrow-down menu*/
.arrow-down{
    font-size: 15px;
    margin-left: 3px;
    position: relative;
    top: 1px;
}
/*sub-menu-M*/
.sub-menu-M, .sub-menu-E{
    width: 100%;
    position: absolute;
    top: -5px;
    left: 130px;
    background-color: var(--primary-color);
    display:none;    
    padding: 0;
}
.sub-menu-E{
    width: auto;
}

.hero .slider{
    background-image: url(../_assets/banner-img.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 393px;
}
.s_estilosModerno{
    max-width: var(--s-center);
    width: 100%;
    margin: 100px auto 0;
    padding: 10px;
    display: flex; 
    justify-content: space-between;        
}
.s_estilosModerno .b_texto{
    max-width: 620px;
    width: 100%;    
    padding: 30px 20px;
}

.s_estilosModerno p{
    margin: 30px 40px 30px 0;   
    line-height: 1.5; 
}
.s_estilosModerno .s_estiloModerno__btn{
    border: none;
    padding: 8px 12px;
    background-color: #37193B;
    color: #fff;
}
.experiencia, .depoimentos{    
    background: linear-gradient(rgba(0, 0, 0, .56), rgba(0, 0, 0, .56)), url(../_assets/bg_experiencia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 438px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}
.experiencia__info{
    max-width: 610px;
    width: 100%;
    margin: 0 auto;
    color: var(--second-color);
    text-align: center;     
}
.experience__desc{    
    text-align: center;
    line-height: 1.5;
    padding: 20px 45px;
}
.melhores-exp{
    max-width: var(--s-center);
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.melhores-exp__info{
    text-align: right;
    padding: 0 20px;
}
.melhores-exp__texto{
    max-width: 600px;
    line-height: 1.5;    
}
.depoimentos{
    background: linear-gradient(rgba(0, 0, 0, .56), rgba(0, 0, 0, .56)), url(../_assets/bg_depoimentos.jpg);
    background-position: center;
    background-attachment: fixed;    
    min-height: 366px;    
}
.depoimentos__info{
    max-width: var(--c-center);
    margin: auto;
    color: var(--second-color);
    text-align: center;   
}
.galeria__titulo{
    text-align: center; 
    margin: 30px 0;   
}
.galeria__cards{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0 150px;
}
.galeria__card{
    max-width: 222px;
    width: 100%;
    overflow: hidden;
    margin: 10px;    
    transition: all .5s linear;
}
.galeria__card > figure{
    height: 100%;
    background-color: black;
}
.galeria__card__img{
    transition: all .3s linear;    
    height: 100%;
}
.galeria__card__img:hover{
    transform: scale(1.1);
    transition: all .3s linear;
    cursor: pointer;
}
/*PG cabelo*/
.banner-cabelo{
    background: url(../_assets/banner-cabelo.jpg);
    min-height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner__titulo{
    margin: 0;
    text-transform: uppercase;
    color: #fff;   
    -webkit-text-stroke: 1px #E75A7A;
}
.introducao{
    max-width: 1200px;
    width: 100%;
    margin: 50px auto;
    text-align: center;
}
.prevImgCabelo{
    display: flex;
    justify-content: center;
}
.prevImgCabelo__img{
    margin: 0 20px;
    overflow: hidden;    
}
.prevImgCabelo__img img{    
    transition: all .3s linear;
}
.prevImgCabelo__img img:hover{
    transform: scale(1.1);    
}
.center{
    max-width: 950px;
    width: 100%;
    margin: 70px auto;    
}
.servico{
    display: flex;
    max-width: 1000px;   
    margin: auto;    
}
.servico__titulo{
    color: #000;
}
.servico__lista{
    width: 100%;
    display: flex;  
    align-items: center;  
    font-family: 'Poppins', sans-serif;   
    margin-left: 27px;   
}
.servico__lista-coluna + .servico__lista-coluna{
    margin: 0 50px;
}
.servico__lista li{
    display: block;  
    color: #000;  
    position: relative;
}
.servico__lista li > .fa-check{
    color: #E75A7A;
    margin-left: 5px;
}
.servico__btn{    
    color: #E75A7A;
    font-weight: 500;
    padding: 8px 15px;
    font-family: 'Poppins', sans-serif;  
    border-radius: 40px;
    border: 1px solid #F59275;
    margin-left: 27px;
}
.servico__btn:hover{    
    color: #fff;
    background: #E75A7A;      
}
/*Fim PG cabelo*/


footer{
    background: var(--primary-color);
    min-height: 301px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-center{
    max-width: var(--s-center);   
    width: 100%;     
    display: flex;
    justify-content: space-around;
    padding: 50px 30px;
}
.footer-center__logo{
    text-align: center;
}
.footer-center__logo img{
    width: 183px;
    margin: auto;
}
.footer-contato{    
    color: var(--second-color); 
    line-height: 1.8;
}
.footer-contato__endereco{
    font-style: initial
}