@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
:root{
    --primary-color:#37193B;
    --second-color:#fff;

}

.dock-bar{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 0 55px;
    background-color: var(--second-color);
}
.midias-socias{
    font-size: 23px;
}
.midias-socias i{
    font-size: 23px;
    margin: 0 5px;
}
.nav-wrapper{
    background: var(--primary-color);
    padding: 0 50px;
    height: 46px;    
}
.nav-wrapper .menu{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
}
.nav-wrapper .menu li{
    margin: 0 5px; 
}
.nav-wrapper .menu_link{
    display: block;
    padding: 10px 10px;
    text-transform: uppercase;     
}
/**/
.s_estilosModerno{
    max-width: 1200px;
    width: 100%;
    margin: 100px auto 0;
    
    display: flex; 
    justify-content: space-between;        
}
.s_estilosModerno .b_texto{
    max-width: 620px;
    width: 100%;    
    padding: 30px 20px;
}
.s_estilosModerno h2{
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.s_estilosModerno p{
    margin: 30px 40px 30px 0;   
    line-height: 1.5; 
}
.s_estilosModerno .s_estiloModerno__btn{
    border: none;
    padding: 8px 12px;
    background-color: #37193B;
    color: #fff;
}
.experiencia{    
    background: linear-gradient(rgba(0, 0, 0, .56), rgba(0, 0, 0, .56)), url(../_assets/bg_experiencia.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    background-attachment: fixed;
    min-height: 438px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}
.experiencia__info{
    max-width: 980px;
    margin: 0 auto;
    color: var(--second-color);
    text-align: center;    
    min-height: 250px;   
}
.experiencia__titulo{
    
}
.experience__desc{
    max-width: 600px;
    text-align: center;
    line-height: 1.5;
    padding: 20px 45px;
}