:root{
    --primary-color:#37193B;
    --second-color:#fff;   
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, li{
    text-decoration: none;
    list-style-type: none;
    color: #E75A7A;
    display: inline-block;
}
img{
    display: block;
    max-width: 100%;
    width: 100%;
    
}
body{
    font-size: 14px;
    color: #626262;  
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-family: 'Poppins', sans-serif;
    margin: 20px 0;
    font-size: 21px;
}
h4{
    font-size: 20px;
    color: var(--second-color);
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 200;
}
